doctype html
html
    head
        title VR Web Viewer
        meta(charset='utf-8')
        meta(name='description', content='Virtual Tours')
        script(src='https://aframe.io/releases/1.2.0/aframe.min.js')
        script(src='/javascripts/LegacyJSONLoader.js')
        script(src='/javascripts/aframe-tooltip-component.js')
        script(src='/javascripts/camera-position.js')
        script(src='/javascripts/link-controls.js')
        script(src='/javascripts/contents-save.js')

        script(src='https://unpkg.com/aframe-event-set-component@^5.0.0/dist/aframe-event-set-component.min.js')
        script(src='https://unpkg.com/aframe-environment-component@1.3.1/dist/aframe-environment-component.min.js')
        script(src='https://cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.2/dist/aframe-extras.min.js')
        script(src='https://unpkg.com/super-hands@^3.0.3/dist/super-hands.min.js')
        script(src='https://rawgit.com/rdub80/aframe-gui/master/dist/aframe-gui.min.js')
        script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")

        script(src="/javascripts/scene/pressed-gui-button.js") 
        script(src="/javascripts/scene/dropdown-event.js")
        script(src="/javascripts/scene/rotate-event.js")
        script(src="/javascripts/scene/object3DControl.js")
        script(src="/javascripts/scene/toggle-mode.js")
        //script(src="/javascripts/scene/test-json-code.js")
        script(src="/javascripts/Inspector-custom/aframe-inspector-custom.js")

    body
        //a-scene(raycaster='far: 100; objects: .clickable;' cursor='rayOrigin: mouse' camera-position='')
        //buton(id="exampleInspector" class="btn" rel="nofollow" value='Visual Inspector')

        a-scene(id='scene' avatar-recorder='' touch-to-click-converter='' raycaster='far: 100; objects: .clickable;' cursor='rayOrigin: mouse' camera-position='')
            //image
            if vrimage_id != null
                a-sky#image-360(radius='30', src='image/' + vrimage_id)
            else
                //a-sky#image-360(radius='10', src='#default')
                a-sky(color="#ECECEC" material="" geometry="" scale="" position="" rotation="" visible="")
            
            //link 
            //- if arrowList.left.name
            //-     a-link.clickable(title=arrowList.left.name href='scene/'+ arrowList.left.name position='' + arrowList.left.x + ' '+ arrowList.left.y + ' '+ arrowList.left.z rotation='' + arrowList.left.yaw + ' ' + arrowList.left.pitch + ' ' + arrowList.left.roll)

            //- if arrowList.up.name
            //-     a-link.clickable(title=arrowList.up.name href='scene/'+ arrowList.up.name position='' + arrowList.up.x + ' '+ arrowList.up.y + ' '+ arrowList.up.z rotation='' + arrowList.up.yaw + ' ' + arrowList.up.pitch + ' ' + arrowList.up.roll)

            //- if arrowList.right.name
            //-     a-link.clickable(title=arrowList.right.name href='scene/'+ arrowList.right.name position='' + arrowList.right.x + ' '+ arrowList.right.y + ' '+ arrowList.right.z rotation='' + arrowList.right.yaw + ' ' + arrowList.right.pitch + ' ' + arrowList.right.roll)

            //- if arrowList.down.name
            //-     a-link.clickable(title=arrowList.down.name href='scene/'+ arrowList.down.name position='' + arrowList.down.x + ' '+ arrowList.down.y + ' '+ arrowList.down.z rotation='' + arrowList.down.yaw + ' ' + arrowList.down.pitch + ' ' + arrowList.down.roll)

            if arrowList.left.name
                a-link.clickable(title=arrowList.left.name href='scene/'+ arrowList.left.name loc='left' position='' + arrowList.left.x + ' '+ arrowList.left.y + ' '+ arrowList.left.z rotation='' + arrowList.left.yaw + ' ' + arrowList.left.pitch + ' ' + arrowList.left.roll)

            if arrowList.up.name
                a-link.clickable(title=arrowList.up.name href='scene/'+ arrowList.up.name loc='up' position='' + arrowList.up.x + ' '+ arrowList.up.y + ' '+ arrowList.up.z rotation='' + arrowList.up.yaw + ' ' + arrowList.up.pitch + ' ' + arrowList.up.roll)

            if arrowList.right.name
                a-link.clickable(title=arrowList.right.name href='scene/'+ arrowList.right.name loc='right' position='' + arrowList.right.x + ' '+ arrowList.right.y + ' '+ arrowList.right.z rotation='' + arrowList.right.yaw + ' ' + arrowList.right.pitch + ' ' + arrowList.right.roll)

            if arrowList.down.name
                a-link.clickable(title=arrowList.down.name href='scene/'+ arrowList.down.name loc='down' position='' + arrowList.down.x + ' '+ arrowList.down.y + ' '+ arrowList.down.z rotation='' + arrowList.down.yaw + ' ' + arrowList.down.pitch + ' ' + arrowList.down.roll)

            //- a-entity(id='link' class='clickable' text="value: link object\n\n\n; width: 2; align: center; baseline: bottom;" geometry='primitive: box' link='href: http://localhost:3000/vr/62998d5247eef49474b0206f' position='0 0 0' material='color: orange')

            //- <!-- -->
            //- a-entity(text="value: Hello World\n\n\n.; width:2; align: center; anchor: align; baseline: bottom;" position='2 1 2' class='box' mixin='box' material='color: green')

            // Define box, sphere mixin
            a-assets
                a-mixin(id='box' geometry='primitive: box; width: 0.5; height: 0.5; depth: 0.5' hoverable='' grabbable='' stretchable='' draggable='' droppable='' shadow='' event-set__dragdrop='_event: drag-drop; geometry.radius: 0.25; geometry.primitive: box' event-set__hoveron='_event: hover-start; material.opacity: 0.7; transparent: true' event-set__hoveroff='_event: hover-end; material.opacity: 1; transparent: false' event-set__dragon='_event: dragover-start; material.wireframe: true' event-set__dragoff='_event: dragover-end; material.wireframe: false')

                a-mixin(id='sphere' geometry='primitive: sphere; width: 0.5; height: 0.5; depth: 0.5' hoverable='' grabbable='' stretchable='' draggable='' droppable='' shadow='' event-set__dragdrop='_event: drag-drop; geometry.radius: 0.25; geometry.primitive: sphere' event-set__hoveron='_event: hover-start; material.opacity: 0.7; transparent: true' event-set__hoveroff='_event: hover-end; material.opacity: 1; transparent: false' event-set__dragon='_event: dragover-start; material.wireframe: true' event-set__dragoff='_event: dragover-end; material.wireframe: false')

                a-mixin(id='cylinder' geometry='primitive: cylinder; width: 0.5; height: 0.5; depth: 0.5' hoverable='' grabbable='' stretchable='' draggable='' droppable='' shadow='' event-set__dragdrop='_event: drag-drop; geometry.radius: 0.25; geometry.primitive: sphere' event-set__hoveron='_event: hover-start; material.opacity: 0.7; transparent: true' event-set__hoveroff='_event: hover-end; material.opacity: 1; transparsent: false' event-set__dragon='_event: dragover-start; material.wireframe: true' event-set__dragoff='_event: dragover-end; material.wireframe: false')

            //test entity
            //- if objectList
            //-     a-entity(id='boxtest' loc='box1' mixin=objectList.pos.mixin position=objectList.pos.x+' '+objectList.pos.y+' '+objectList.pos.z rotation=objectList.pos.yaw+' '+objectList.pos.pitch+' '+objectList.pos.roll color='red' material='color: '+objectList.pos.color)


            // fetch entities
            - var i = -1
            //- while ++i < objectList.length
            //-     a-entity(position=objectList[i].x+' '+objectList[i].y+' '+objectList[i].z rotation=objectList[i].yaw+' '+objectList[i].pitch+' '+objectList[i].roll id=objectList[i].id loc=objectList[i].loc geometry='primitive: '+objectList[i].geometry material='color: '+objectList[i].color)

            while ++i < objectList.length
                a-entity(position=objectList[i].x+' '+objectList[i].y+' '+objectList[i].z rotation=objectList[i].yaw+' '+objectList[i].pitch+' '+objectList[i].roll scale=objectList[i].xscale+' '+objectList[i].yscale+' '+objectList[i].zscale id=objectList[i].id loc=objectList[i].loc geometry='primitive: '+objectList[i].geometry material='color: '+objectList[i].color)

            // entity objects
            a-entity(id='objects')

            //left&right hand
            a-entity#leftHand(link-controls='hand: left')
            a-entity#rightHand(link-controls='hand: right')
            //a-entity(camera='' look-controls='')
            //    a-entity(cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 5000' position='0 0 -1' geometry='primitive: ring; radiusInner: 0.02; radiusOuter: 0.03' material='color: black; shader: flat')

            <!-- camera-->
            a-camera(id='camera' look-controls="enabled:true" wasd-controls="acceleration: 20" enabled='false')
                <!-- marker -->
                a-entity(id="marker" position="0 0 -5" rotation="" scale="" visible="")

                <!-- save -->
                a-gui-button.clickable(id='saveButton' class="gui" background-color='#7066e0' contents-save='scene_id:' + vid font-size="0.3" width="0" height="0" position="0.0 -0.76 -1.0" scale='0' color='black')

                <!-- 3D Object Insert Button-->
                a-entity(id="dropdownContainer" class="gui" position="-1.2 0.75 -1.0" scale='0.1 0.1 0.1')
                    a-gui-flex-container(flex-direction="row" class="gui" justify-content="flexStart" align-items="normal" component-padding="0.1" opacity="0" width="2.5" height="0.75" position="0 0.375 0" rotation="0 0 0")
                        a-gui-button.clickable(
                            id="mydropdown" class="gui" background-color='#7066e0' width="2.5" height="0.75" onclick="openDropdown" value="OBJECT" font-family="" font-size="0.25" visible="true" class="gui" 
                            animation__rotateIn="property: rotation; to: 180 0 0; dur: 1000; startEvents:opendropdown" animation__visibleIn="property: visible; to: false; delay: 500; startEvents:opendropdown" animation__rotateOut="property: rotation; to: 0 0 0; dur: 1000; startEvents:closedropdown" animation__visibleOut="property: visible; to: true; delay: 500; startEvents:closedropdown")
                    a-gui-flex-container(
                        id="myoptions" class="gui" flex-direction="row" justify-content="flexStart" align-items="normal" component-padding="0.1" opacity="0" width="2.5" height="0.75" position="0 0 0" rotation="0 0 0" scale="1 0.001 0.001" visible="false" class="gui" 
                        animation__positionIn="property: position; to: 0 0.375 0.15; dur: 1000; startEvents:opendropdown" animation__scaleIn="property: scale; to: 1 1 1; dur: 1000; startEvents:opendropdown" animation__visibleIn="property: visible; to: true; dur: 100; startEvents:opendropdown" animation__positionOut="property: position; to: 0 0 -0.15 dur: 1000; startEvents:closedropdown" animation__scaleOut="property: scale; to: 1 0.001 0.001; dur: 1000; startEvents:closedropdown" animation__visibleOut="property: visible; to: false; dur: 100; delay: 500; startEvents:closedropdown")
                        a-gui-button.clickable(id="box" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="BOX")
                        a-gui-button.clickable(id="sphere" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="SPHERE")
                        a-gui-button.clickable(id="cylinder" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="CYLINDER")
                        a-gui-button.clickable(id="cone" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="CONE")
                        a-gui-button.clickable(id="circle" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="CIRCLE")
                        a-gui-button.clickable(id="plane" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="PLANE")
                        a-gui-button.clickable(id="triangle" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="TRIANGLE")
                        a-gui-button.clickable(id="rings" class="gui" width="2.5" height="0.75" pressed-gui-button="" font-size="0.3" value="RING")
                        a-gui-button.clickable(id="link" class="gui" width="2.5" height="0.75" background-color='#7066e0' object-link=`sceneName: ${sceneName}; sceneId: ${sceneId}` font-size="0.3" value=`LINK`)
                        a-gui-button.clickable(height="0.5" class="gui" font-size="0.3" onclick="closeDropdown" value="X")
