doctype html
html
    head
        title VR Web Viewer
        meta(charset='utf-8')
        meta(name='description', content='Virtual Tours')
        script(src='https://aframe.io/releases/1.2.0/aframe.min.js')
        script(src='/javascripts/LegacyJSONLoader.js')
        script(src='/javascripts/aframe-tooltip-component.js')
        script(src='/javascripts/camera-position.js')
        script(src='/javascripts/link-controls.js')
        script(src='/javascripts/contents-save.js')

        script(src='https://unpkg.com/aframe-event-set-component@^5.0.0/dist/aframe-event-set-component.min.js')
        script(src='https://unpkg.com/aframe-environment-component@1.3.1/dist/aframe-environment-component.min.js')
        script(src='https://cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.2/dist/aframe-extras.min.js')
        script(src='https://unpkg.com/super-hands@^3.0.3/dist/super-hands.min.js')
        script(src='https://rawgit.com/rdub80/aframe-gui/master/dist/aframe-gui.min.js')
        script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")

        script(src="/javascripts/scene/pressed-gui-button.js") 
        script(src="/javascripts/scene/dropdown-event.js")
        script(src="/javascripts/scene/rotate-event.js")
        script(src="/javascripts/scene/object3DControl.js")
        script(src="/javascripts/scene/toggle-mode.js")
        //script(src="/javascripts/scene/test-json-code.js")
        script(src="/javascripts/Inspector-custom/aframe-inspector-custom.js")

    body
        a-scene(id='scene' avatar-recorder='' touch-to-click-converter='' raycaster='far: 100; objects: .clickable;' cursor='rayOrigin: mouse' camera-position='')
            //image
            if vrimage_id != null
                a-sky#image-360(radius='30', src='image/' + vrimage_id)
            else
                //a-sky#image-360(radius='10', src='#default')
                a-sky(color="#ECECEC" material="" geometry="" scale="" position="" rotation="" visible="")

            if arrowList.left.name
                a-link.clickable(title=arrowList.left.name href='scene/'+ arrowList.left.name loc='left' position='' + arrowList.left.x + ' '+ arrowList.left.y + ' '+ arrowList.left.z rotation='' + arrowList.left.yaw + ' ' + arrowList.left.pitch + ' ' + arrowList.left.roll)

            if arrowList.up.name
                a-link.clickable(title=arrowList.up.name href='scene/'+ arrowList.up.name loc='up' position='' + arrowList.up.x + ' '+ arrowList.up.y + ' '+ arrowList.up.z rotation='' + arrowList.up.yaw + ' ' + arrowList.up.pitch + ' ' + arrowList.up.roll)

            if arrowList.right.name
                a-link.clickable(title=arrowList.right.name href='scene/'+ arrowList.right.name loc='right' position='' + arrowList.right.x + ' '+ arrowList.right.y + ' '+ arrowList.right.z rotation='' + arrowList.right.yaw + ' ' + arrowList.right.pitch + ' ' + arrowList.right.roll)

            if arrowList.down.name
                a-link.clickable(title=arrowList.down.name href='scene/'+ arrowList.down.name loc='down' position='' + arrowList.down.x + ' '+ arrowList.down.y + ' '+ arrowList.down.z rotation='' + arrowList.down.yaw + ' ' + arrowList.down.pitch + ' ' + arrowList.down.roll)

            // fetch entities
            - var i = -1
            //- while ++i < objectList.length
            //-     a-entity(position=objectList[i].x+' '+objectList[i].y+' '+objectList[i].z rotation=objectList[i].yaw+' '+objectList[i].pitch+' '+objectList[i].roll id=objectList[i].id loc=objectList[i].loc geometry='primitive: '+objectList[i].geometry material='color: '+objectList[i].color)

            while ++i < objectList.length
                a-entity(position=objectList[i].x+' '+objectList[i].y+' '+objectList[i].z rotation=objectList[i].yaw+' '+objectList[i].pitch+' '+objectList[i].roll scale=objectList[i].xscale+' '+objectList[i].yscale+' '+objectList[i].zscale id=objectList[i].id loc=objectList[i].loc geometry='primitive: '+objectList[i].geometry material='color: '+objectList[i].color)

            // entity objects
            a-entity(id='objects')

            //left&right hand
            //- a-entity#leftHand(link-controls='hand: left')
            //- a-entity#rightHand(link-controls='hand: right')

            <!-- camera-->
            a-camera(id='camera' look-controls="enabled:true" wasd-controls="acceleration: 20" enabled='false')
                //- <!-- marker -->
                //- a-entity(id="marker" position="0 0 -5" rotation="" scale="" visible="")

                <!-- save -->
                a-entity(id='saveButton' background-color='#7066e0' contents-save='scene_id:' + vid font-size="0.3" width="0" height="0" position="0.0 -0.76 -1.0" scale='0' color='black')

                <!-- link -->
                a-entity(id="linkButton" width="0" height="0" object-link=`sceneName: ${sceneName}; sceneId: ${sceneId}` scale='0')
